# Vehicle Collision Severity

This Notebook will be used for the IBM Data Science professional certificate's Applied Data Science Capstone Project.

In [21]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [2]:
print("Hello Capston Project Course")

Hello Capston Project Course

## Goal of this Project

The first goal of this project is to demonstrate my ability to understand a problem and communicate findings effectively.
In order to acheive this goal, I will be analyzing a csv of Seattle car accidents in order to determine the enviornmental factors which contribute to more severe vehicle accidents, and with this understanding, predict if a severe accident will occur.

By predicting severe accidents and identifying conditions that lead to them, leadership can asses the value of implementing warning systems for uniquely poor driving conditions.

## Data

I will be analyzing the "Collisionsâ€”All Years" data set, which contains collisions provided by the Seattle Police Department and recorded by Traffic Records from 2004 to Present which can be found <a href="https://github.com/mjpower515/VehicleAccidentSeverity">here</a>.

<br/>
This Data set lists each collision as one of the following severities:<br/>
<table>
    <tr><th>Code</th><th>Definition</th><th>Count</th></tr>
    <tr><td>3</td><td>Fatality</td><td>340</td></tr>
    <tr><td>2b</td><td>Serious Injury</td><td>3,045</td></tr>
    <tr><td>2</td><td>Injury</td><td>57,628</td></tr>
    <tr><td>1</td><td>Proerty Damage</td><td>133,215</td></tr>
    <tr><td>0</td><td>Unknown</td><td>19,568</td></tr>
</table>

The data set has 40 total columns. There are many features that describe the condition of the driver that lead to the accident, such as intoxication or speeding, as well as descriptions of the accident, such as number of people in the car. While these could certainly offer insights into education methods, my goal is to understand factors outside of the drivers control. With this in mind, I will be investigating Weather, Road conditions, and Light Conditions.

In [22]:
df = pd.read_csv('Data Sets/Collisions.csv')
df.describe(include='all')

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,213797.000000,213797.000000,221266.000000,221266.000000,221266.000000,221266,221266,217554,71823.000000,216680,100863,11775,221265,221266,194767,221266.000000,221266.000000,221266.000000,221266.000000,221266.000000,221266.000000,221266.000000,221266,221266,209299,221265.000000,221265,30188,194787,194578,194658,194490,5188,1.272050e+05,9913,211853,194767,221266.000000,2.212660e+05,221266
unique,NaN,NaN,NaN,NaN,NaN,221263,2,3,NaN,25193,2,1,5,5,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6079,169122,7,NaN,40,1,4,12,9,9,1,NaN,1,63,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,1776526,Matched,Block,NaN,BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB ...,,"Not Enough Information, or Insufficient Locati...",1,Property Damage Only Collision,Parked Car,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006/11/02 00:00:00+00,11/2/2006,Mid-Block (not related to intersection),NaN,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",Y,N,Clear,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,2,194840,144857,NaN,298,89088,11775,137485,137485,48455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,103,101579,NaN,91958,30188,103482,114361,128171,119166,5188,NaN,9913,44842,44842,NaN,NaN,209290
mean,-122.330752,47.620205,110633.500000,144603.603179,144831.128840,NaN,NaN,NaN,37616.272768,NaN,NaN,NaN,NaN,NaN,NaN,2.226230,0.038103,0.027293,1.728544,0.373844,0.015149,0.001681,NaN,NaN,NaN,13.383558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.971063e+06,NaN,NaN,NaN,261.441573,9.588454e+03,NaN
std,0.030054,0.056040,63874.136669,89039.925169,89413.579421,NaN,NaN,NaN,51905.450406,NaN,NaN,NaN,NaN,NaN,NaN,1.470364,0.201745,0.164345,0.831224,0.732086,0.157908,0.044562,NaN,NaN,NaN,7.302961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.611523e+06,NaN,NaN,NaN,3248.850406,7.150262e+04,NaN
min,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,-122.349280,47.577302,55317.250000,71603.250000,71603.250000,NaN,NaN,NaN,28653.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.007029e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,-122.330348,47.616053,110633.500000,127122.500000,127122.500000,NaN,NaN,NaN,29973.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.033011e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,-122.311998,47.664290,165949.750000,209654.750000,209874.750000,NaN,NaN,NaN,33984.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.018101e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,-122.238949,47.734142,221266.000000,333683.000000,335183.000000,NaN,NaN,NaN,757580.000000,NaN,NaN,NaN,NaN,NaN,NaN,93.000000,6.000000,2.000000,15.000000,78.000000,41.000000,5.000000,NaN,NaN,NaN,87.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

In [26]:
Feat = df[['X','Y','WEATHER','ROADCOND','LIGHTCOND', 'SEVERITYCODE']]
Feat.head()

,X,Y,WEATHER,ROADCOND,LIGHTCOND,SEVERITYCODE
0,-122.386772,47.564720,Clear,Dry,Daylight,2
1,-122.341806,47.686934,Raining,Wet,Dark - Street Lights On,2
2,-122.374899,47.668666,Clear,Dry,Daylight,1
3,-122.300758,47.683047,Raining,Wet,Dark - Street Lights On,1
4,-122.313053,47.567241,NaN,NaN,NaN,0